mirai:
  host: "http://127.0.0.1:8080"
  authKey: "12345678"
  account: 100001
  websocket: True

translation:
  appid: "1616134944637"
  authKey: "JABAJhssjshJSJDJ"

voice:
  location: "southeastasia"
  key: ""

monitor:
  group: 114514
  ip: "baidu.com"
  interval: 2
  managerId: 114514

genshin:
  cookie: "xxx"
